*{
    font-family: sans-serif;
}
body{
    background-color:antiquewhite;
}
header{
    display: flex;
    align-items: center;
    gap:20px;
}
img{
    height: 20%;
    width: 20%;
    border-radius: 50%;
    border:3px solid black;
}
main{
    display: flex;
    flex-wrap: wrap;
}
.address{
    display: block;
    width: 50%;
    height:auto;
}
.experience{
    display: block;
    width: 50%;
    height: auto;
}
.education{
    display: block;
    width: 50%;
    height: auto;
}
.skills{
    display: block;
    width: 50%;
    height: auto;
}
.availability{
    display: block;
    width:50%;
    align-items: center;
}
.activities{
    display: block;
    width: 100%;
    height: auto;
}