*{
    font-family: sans-serif;
}
body{
    background-color:antiquewhite;
}
header{
    display: flex;
    align-items: center;
    gap:20px;
}
img{
    height: 15%;
    width: 15%;
    border-radius: 50%;
    border:3px solid black;
}
main{
    display: flex;
    flex-wrap: wrap;
}
.address{
    display: block;
    width: 50%;
}
.experience{
    display: block;
    width: 50%
}
.education{
    display: block;
    width: 50%;
}
.skills{
    display: block;
    width: 50%;
}
.projects{
    display: block;
    width: 50%;
    
}
.availability{
    display: block;
    width:50%;
}
.hobbies{
    display: block;
    width: 100%;
}
