
body{
    background-color: darkgray;
    font-family: sans-serif;
    color: aliceblue;
}
nav{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  
}

a{
    text-decoration: none;
    color: aliceblue;
    display: block;
    width: 25%;
    padding: 10px;
    text-align: center;
    border: 2px solid aliceblue;
    background-color: darkgrey;
}
a:hover{
    background-color: lightgray;
    text-decoration: underline;
}
.flexbox{
    display: flex;
}
.sidebox{
    width: 20%;
    display: flex;
    justify-content: center;
}
.line{
    width: 5px;
    height: auto;
    background-color: black;
    margin:50px;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: space-between;
}
.circle, .circle2, .circle3{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: black;
    color: aliceblue;
    position: relative;
    left: -250%;
}


.circle2>p, .circle3>p,.circle>p{
    position:relative;
    top: -30%;
    left:35%;
}
img{
    width: 60%;
    height: 40%;
}
.flexbox2{
    display: flex;
    flex-wrap: wrap;
}
.flexbox2>div{
    width:50%;
}
.flexbox2>div>h3>a{
    width:70%;
}
.projectdescription{
    margin-right: 20px;
    overflow: hidden;
}
.flexbox3{
    display: flex;
    flex-wrap: wrap;
}
.flexbox3>div>p>a{
    width: 50%;
    overflow-x: scroll;
}
.flexbox3>div{
    width: 50%;
}
